<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346101636608-l5eqbob1i00pfjrq517p4db73u5kq1q2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346101636608-l5eqbob1i00pfjrq517p4db73u5kq1q2</string>
	<key>API_KEY</key>
	<string>AIzaSyAJCa6iJk0ciFOfkmJW64aWFhMg7bE5kzw</string>
	<key>GCM_SENDER_ID</key>
	<string>346101636608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hey.CanteenNIBM</string>
	<key>PROJECT_ID</key>
	<string>nibmcafeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>nibmcafeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346101636608:ios:e35ce75d7b3cd9d29dc2e5</string>
</dict>
</plist>